
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: Poppins;
}

p, textarea, label, input, select {
  /* Default font size and line height */
}

li {
  font-size: 16px;
}

.title {
    font-size: 88px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    background-color: #fcce00; 
    margin-block-start: 8px;
    margin-block-end: 0px;
    height: 128px;
    opacity: 0.81;
    line-height: 122px;
}

.section-title {
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b00;
  margin-block-start: 8px;
  margin-block-end: 0px;
  height: 64px;
  opacity: 0.81;
  line-height: 64px;
}

.section-rouge {
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.section-violet {
height: 16px;
opacity: 0.81;
background-color:#b620e0;
margin-block-start: 8px;
  margin-block-end: 0px;
}

.section-bleu {
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
  margin-block-start: 8px;
  margin-block-end: 0px;
  }
  

h3 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 66px;
  color: #231f20;
}

.titre-boites {
font-size: 24px;
font-weight: bold;
text-align: center;
color: #231f20;
  margin-top: 0px;
}

@media (max-width: 899px) {
  .titre-boites {
    margin-top: 32px;
  }
}

.texte-boites {
  font-size: 16px;
  text-align: justify;
  color: #231f20;
  margin: 0px;
  line-height: 23px;
}

.big-boite1 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 64px;
}

.big-boite2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.big-boite2part {
  display: flex;
  justify-content: space-between; 
}

.boite-texte1 {
  flex: 1 1 450px;
padding-left: 48px;
padding-right: 32px;
}

.boite-texte2 {
  flex: 1 1 450px;
padding-left: 32px;
padding-right: 48px;
}

.boite-image1 {
  flex: 1 1 450px;
background-color: #fcce00;
  opacity: 0.81;
}

.boite-image1 img{
mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
}

.boite-image2{
  flex: 1 1 450px;
background-color: #ff6b00;
  opacity: 0.81;
}

.boite-image2 img{
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .big-boite3 {
display: flex;
justify-content: space-between;
background-color: #e02020; 
  }

  .big-boite3 img{
    mix-blend-mode: multiply;
    }

.button1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
  border: solid 4px  #fcce00;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
  float: right;
}

.button2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ff6b00; 
  border: solid 4px #ff6b00;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
  float: right;
}

h4 {
  /* Default font, size, and margins */
}

.sub-title2 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #231f20;
  }

.sub-title2part {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20;;
  }

.boite-texte3 {
  padding-left: 60px;
}

.titre-boite3{
  font-size: 32px;
  font-weight: 900;
  color: #ffffff;
}

.texte-boite3 {
  font-size: 24px;
  color: #ffffff;
}

.button3part{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: solid 4px #ffffff;
  border-radius: 15px;
  padding: 7px 24px 7px 24px;
}

.boite-image3 {
  margin-top: 8px;
  margin-bottom: 46px;
}

.button4part{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: solid 4px #ffffff;
  border-radius: 15px;
  padding: 7px 24px 7px 24px;
}

.boite-image4 {
  margin-top: 8px;
  margin-bottom: 46px;
}


.boite-texte4 {
  padding-left: 60px;
}

.big-boite4 {
display: flex;
justify-content: space-between;
background-color: #b620e0; 
}

.big-boite4 img{
  mix-blend-mode: multiply;
  }

.button5part{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: solid 4px #ffffff;
  border-radius: 15px;
  padding: 7px 24px 7px 24px;
}

.boite-image5 {
  margin-top: 8px;
  margin-bottom: 46px;
}

.boite-texte5 {
  padding-left: 60px;
}

.big-boite5 {
  display: flex;
  justify-content: space-between;
background-color: #6236ff; 
}

.big-boite5 img{
  mix-blend-mode: multiply;
  }

.releases-div {
  background-color: #231f20;
  text-align: center;
  padding: 1px;
}

.releases-grid {
  display: grid;
  max-width: 1440px;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  padding-left: 34px;
  padding-right: 34px;
  /* grid-template-rows: 320px 320px 320px; */
  /*grid-auto-flow: column;*/
}

.form-row {
  color: white;
}

.form-row input, .form-row select {
  border-radius: 8px;
  background-color: #ffffff;
  color: black;
  min-width: 320px;
  height: 38px;
  border: none;
  margin-top: 5px;
  padding: 5px;
}

.contact-form {
  text-align: left;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 21px;
  justify-items: center;
  max-width: 944px;
  margin-left: auto;
  margin-right: auto;
}

.form-row-a, .form-row-b, .form-row-c {
  grid-column: 1;
}

.form-row-d {
  grid-column: 2;
  grid-row: 1 / 4;
}

.form-row-d input {
  height: 212px;
  min-width: 560px;
}

h6 {
  /* Default font, size, and margins */
}


a {
  text-decoration:none;
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/