
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



.title {
    font-family: Poppins;
    font-size: 88px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    background-color: #fcce00; 
    margin-block-start: 8px;
    margin-block-end: 0px;
}

.section-title {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b00;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.section-rouge {
  width: 1440px;
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.section-violet {
width: 1440px;
height: 16px;
opacity: 0.81;
background-color:#b620e0;
margin-block-start: 8px;
  margin-block-end: 0px;
}

.section-bleu {
  width: 1440px;
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
  margin-block-start: 8px;
  margin-block-end: 0px;
  }
  

h3 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

.titre-boites {
font-family: Poppins;
font-size: 24px;
font-weight: bold;
text-align: center;
color: var(--Ultravision-Black);
}

.texte-boites {
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: var(--Ultravision-Black);
}

.big-boite1 {
  display: flex;
  justify-content: space-between;
}

.big-boite2 {
  display: flex;
  justify-content: space-between;
}

.boite-texte1 {
max-width: 50%;
margin-inline-start: 48px;
margin-inline-end: 0px;
}

.boite-texte2 {
max-width: 50%;
margin-inline-start: 0px;
margin-inline-end: 48px;
  }

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/